################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hack-ohio-2020/v16/ipch/AutoPCH
