{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static '/userIn/main.css' %}" media="screen" />
    <title>Project Title</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <span class="addloc">
                ADD A LOCATION
            </span>
            <span class="navbar_name">
                Cycle
            </span>
        </div>
        <div class="map">

        </div>
        <div class="settings">
            <div class="settings_enviro">
                <span class="settings_enviro_text">
                    ENVIRONMENT : Adjust weight on environmental impact
                </span>
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
            </div>
            <div class="settings_time">
                <span class="settings_time_text">
                    TIME : Check here if you want to optimize time
                </span>
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
            </div>
            <div class="settings_cost">
                <span class="settings_cost_text">
                    COST : Check here if you want to optimize cost
                </span>
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
            </div>
            <div class="settings_miles">
                <span class="settings_miles_text">
                    MILES : Check here if you want to optimize miles
                </span>
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
            </div>
            <span class="settings_header">
                OPTIMIZATION SETTINGS
                Use the sliders to declare the optimzization of each variable.
            </span>
        </div>
        <div class="description">
            <span class="description_name">
                Cycle
            </span>
            <span class="description_content">
                The trucking industry is an essential part of the supply chain; however, it may be difficult for them to find the best optimized route.
                Cycle allows distributors to add locations and weigh different options such as cost, time, miles, and the environment and find the best route for them.
            </span>
        </div>
        <div class="about">
            <div class="about_pancock", style="background-color:#4F5D75">
                <div class="about_pancock_pfp">

                </div>
                <span class="about_pancock_name">
                    WONJUN PARK
                </span>
                <span class="about_pancock_description">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </span>
            </div>
            <div class="about_pancock", style="background-color:#2D3142">
                <div class="about_pancock_pfp">

                </div>
                <span class="about_pancock_name">
                    JACOB LEVINE
                </span>
                <span class="about_pancock_description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </span>
            </div>
            <div class="about_pancock", style="background-color:#4F5D75">
                <div class="about_pancock_pfp">

                </div>
                <span class="about_pancock_name">
                    SHUCHIR BHANAGE
                </span>
                <span class="about_pancock_description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </span>
            </div>
            <div class="about_pancock", style="background-color:#2D3142">
                <div class="about_pancock_pfp">

                </div><span class="about_pancock_name">
                    LISA LIU
                </span>
                <span class="about_pancock_description">
                    Worked on the frontend and the GUI. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </span>
            </div>
        </div>
    </div>
</body>
</html>
