{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static '/userIn/main.css' %}" media="screen" />
    <title>Project Title</title>
</head>
<body>
    <div class="v11_55">
        <div class="navbar">
            <span class="addloc">
                ADD A LOCATION
            </span>
            <span class="v11_79">
                ProjectName
            </span>
        </div>
        <div class="v11_74">

        </div>
        <div class="v11_56">
            <div class="v11_57">
                <div class="v11_58">

                </div>
                <span class="v11_59">
                    ENVIRONMENT Adjust weight on environmental impact
                </span>
                <div class="v11_60">

                </div>
            </div>
            <div class="v11_61">
                <div class="v11_62">

                </div>
                <span class="v11_63">
                    TIME Check here if you want to optimize time
                </span>
                <div class="v11_64">

                </div>
            </div>
            <div class="v11_65">
                <div class="v11_66">

                </div>
                <span class="v11_67">
                    COST Check here if you want to optimize cost
                </span>
                <div class="v11_68">

                </div>
            </div>
            <div class="v11_69">
                <div class="v11_70">

                </div>
                <span class="v11_71">
                    MILES Check here if you want to optimize miles
                </span>
                <div class="v11_72">

                </div>
            </div>
            <span class="v11_73">
                OPTIMIZATION SETTINGS
                Use the sliders to declare the optimzization of each variable.
            </span>
        </div>
        <div class="v11_80">
            <span class="v11_117">
                ProjectName
            </span>
            <span class="v11_120">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </span>
        </div>
        <div class="v11_115">
            <div class="v43_3">
                <div class="v43_4">

                </div><span class="v43_5">
                    WONJUN PARK
                </span>
                <span class="v43_6">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </span>
            </div>
            <div class="v11_130">
                <div class="v11_135">

                </div><span class="v11_140">
                    JACOB LEVINE
                </span>
                <span class="v11_146">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </span>
            </div>
            <div class="v46_2">
                <div class="v46_3">

                </div>
                <span class="v46_4">
                    SHUCHIR BHANAGE
                </span>
                <span class="v46_5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </span>
            </div>
            <div class="v11_128">
                <div class="v11_134">

                </div><span class="v11_139">
                    LISA LIU
                </span>
                <span class="v11_143">
                    Worked on the frontend and the GUI. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </span>
            </div>
        </div>
    </div>
</body>
</html>
