* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
}

.v11_55 {
    width: 100%;
    height: 1457px;
    background: rgba(191,192,192,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.navbar {
    width: 100%;
    height: 84px;
    opacity: 1;
    position: absolute;
    background: rgba(45,49,66,1);
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.addloc {
    color: white;
    position: absolute;
    top: 20px;
    right: 70px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.v11_79 {
    color: white;
    position: absolute;
    top: 20px;
    left: 70px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}

.v11_74 {
    width: 100%;
    height: 600px;
    background: url("../images/v11_74.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 84px;
    left: 0px;
    overflow: hidden;
}

.v11_56 {
    width: 100%;
    height: 272px;
    background: rgba(79,93,117,1);
    opacity: 1;
    position: absolute;
    top: 684px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.v11_57 {
    width: 100%;
    height: 53px;
    background: url("../images/v11_57.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 213px;
    left: 0px;
    overflow: hidden;
}

.v11_58 {
    width: 100%;
    height: 8px;
    background: linear-gradient(rgba(239,131,84,1), rgba(221,94,152,1));
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.v11_59 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 25px;
    left: 0px;
    font-family: Roboto;
    font-weight: Bold;
    opacity: 1;
    text-align: center;
}

.v11_60 {
    width: 25px;
    height: 25px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 250px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.v11_61 {
    width: 100%;
    height: 53px;
    background: url("../images/v11_61.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 160px;
    left: 0px;
    overflow: hidden;
}

.v11_62 {
    width: 100%;
    height: 8px;
    background: linear-gradient(rgba(239,131,84,1), rgba(221,94,152,1));
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.v11_63 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 25px;
    left: 0px;
    font-family: Roboto;
    font-weight: Bold;
    opacity: 1;
    text-align: center;
}

.v11_64 {
    width: 25px;
    height: 25px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 700px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.v11_65 {
    width: 100%;
    height: 53px;
    background: url("../images/v11_65.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 107px;
    left: 0px;
    overflow: hidden;
}

.v11_66 {
    width: 100%;
    height: 8px;
    background: linear-gradient(rgba(239,131,84,1), rgba(221,94,152,1));
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.v11_67 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 25px;
    left: 0px;
    font-family: Roboto;
    font-weight: Bold;
    opacity: 1;
    text-align: center;
}

.v11_68 {
    width: 25px;
    height: 25px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 325px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.v11_69 {
    width: 100%;
    height: 53px;
    background: url("../images/v11_69.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 54px;
    left: 0px;
    overflow: hidden;
}

.v11_70 {
    width: 100%;
    height: 8px;
    background: linear-gradient(rgba(239,131,84,1), rgba(221,94,152,1));
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.v11_71 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 25px;
    left: 0px;
    font-family: Roboto;
    font-weight: Bold;
    opacity: 1;
    text-align: center;
}

.v11_72 {
    width: 25px;
    height: 25px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.v11_73 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 6px;
    left: 0px;
    opacity: 1;
    text-align: center;
}

.v11_80 {
    width: 100%;
    height: 238px;
    background: linear-gradient(rgba(239,131,84,1), rgba(221,94,152,1));
    opacity: 1;
    position: absolute;
    top: 956px;
    left: 0px;
    overflow: hidden;
}

.v11_120 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 24px;
    left: 50px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v11_117 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 14px;
    left: 0px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.v11_115 {
    width: 100%;
    height: 263px;
    background: url("../images/v11_115.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1194px;
    left: 0px;
    overflow: hidden;
}

.v46_2 {
    width: 350px;
    height: 263px;
    background: rgba(79,93,117,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1050px;
    overflow: hidden;
}

.v46_3 {
    width: 75px;
    height: 75px;
    background: url("../images/v46_3.png");
    opacity: 1;
    position: absolute;
    top: 13px;
    left: 137px;
}

.v46_4 {
    width: 350px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 95px;
    left: 0px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v46_5 {
    width: 350px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 143px;
    left: 0px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
}

.v43_3 {
    width: 350px;
    height: 263px;
    background: rgba(45,49,66,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 700px;
    overflow: hidden;
}

.v43_4 {
    width: 75px;
    height: 75px;
    background: url("../images/v43_4.png");
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 137px;
}

.v43_5 {
    width: 350px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 95px;
    left: 0px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v43_6 {
    width: 350px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 143px;
    left: 0px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
}

.v11_130 {
    width: 350px;
    height: 263px;
    background: rgba(79,93,117,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 350px;
    overflow: hidden;
}

.v11_135 {
    width: 75px;
    height: 75px;
    background: url("../images/v11_135.png");
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 137px;
}

.v11_140 {
    width: 350px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 95px;
    left: 0px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v11_146 {
    width: 350px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 143px;
    left: 0px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
}

.v11_128 {
    width: 350px;
    height: 263px;
    background: rgba(45,49,66,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v11_134 {
    width: 75px;
    height: 75px;
    background: url("../images/v11_134.png");
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 137px;
}

.v11_139 {
    width: 350px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 95px;
    left: 0px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v11_143 {
    width: 350px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 143px;
    left: 0px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
}
