* {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}
img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.btn {
    background-color: #637492;
    border: ridge;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 24pt;
    cursor:pointer;
}

.btn:hover {
    background-color: rgba(79,93,117,1);
}
.slidecontainer {
    margin: auto;
    width: 90%;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: linear-gradient(rgba(239,131,84,1), rgba(221,94,152,1));
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: rgba(196,196,196,1);
    border-radius: 5px;     
    cursor: pointer;
}

.container {
    width: 100%;
    height: 1600px;
    background: rgba(191,192,192,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    clear: both;
}

.navbar {
    width: 100%;
    height: 80px;
    opacity: 1;
    position: fixed;
    background: rgba(45,49,66,1);
    clear: right;
    overflow: visible;
    z-index:3;
}

.addloc {
    color: white;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    height:100%;
    opacity: 1;
    text-align: left;
}

.navbar_name {
    color: white;
    position: absolute;
    top: 20px;
    left: 70px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}

.map {
    width: 800px;
    height: 704px;
    opacity: 1;
    top: 80px;
    position:relative;
    overflow: hidden;
    z-index:1;
    float:left;
}

.stats {
    height: 44%;
    width: 60%;
    left: 800px;
    position: absolute;
    top: 80px;
    color: white;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 36px;
    background: rgba(45,49,66,1);
}

.stats_header {
    text-align: center;
    padding:20px;
}

.stats_numbers {
    padding:20px;
    padding-left:40px;
}

.settings {
    width: 100%;
    height: 19%;
    background: rgba(79,93,117,1);
    opacity: 1;
    position: absolute;
    top: 49%;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.settings_type {
    width: 100%;
    height: 40px;
    margin: 10px;
    opacity: 1;
    overflow: hidden;
}

.settings_text {
    width: 100%;
    color: white;
    font-family: Roboto;
    opacity: 1;
    text-align: center;
}

.settings_header {
    width: 100%;
    color: rgba(255,255,255,1);
    opacity: 1;
    text-align: center;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 24pt;
    margin: 20px;
}

.description {
    width: 100%;
    height: 16%;
    background: linear-gradient(rgba(239,131,84,1), rgba(221,94,152,1));
    opacity: 1;
    position: absolute;
    top: 68%;
    left: 0px;
    overflow: hidden;
    text-align: center;
}

.description_content {
    width: 80%;
    color: rgba(255,255,255,1);
    padding-top: 75px;
    padding-left: 150px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 28pt;
    opacity: 1;
    text-align: left;
    position: absolute;
}

.description_name {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 14px;
    left: 0px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 36pt;
    opacity: 1;
    text-align: center;
}

.about {
    width: 100%;
    height: 16%;
    opacity: 1;
    position: absolute;
    top: 84%;
    left: 0px;
    overflow: hidden;
    clear: left;
    display: table;
    content: "";
}

.about_pancock {
    width: 25%;
    height: 100%;
    opacity: 1;
    overflow: hidden;
    float: left;
    text-align:center;
}

.about_pancock_pfp {
    width: 20%;
    height: auto;
    opacity: 1;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.about_pancock_name {
    color: rgba(255,255,255,1);
    font-family: Roboto;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.about_pancock_description {
    color: rgba(255,255,255,1);
    font-family: Roboto;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
}

.addloc_header {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: rgba(45,49,66,1);
}

.dropbtn {
    float: right;
    color: white;
    background: rgba(45,49,66,1);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    height: 80px;
    background: rgba(45,49,66,1);
    position: fixed;
    right: 0px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    min-width: 160px;
    background: rgba(45,49,66,1);
    height: 200px;
    overflow: visible;
    position: absolute;
    z-index: 2;
}

/* Show the dropdown menu on hover */
.dropbtn:hover .dropdown-content {
  display: block;
}

.textfield{

}

.numfield{

}

.truckvar{

}
